* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Brownies Regular;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

li a {
    padding: 5px;
    background-color: white;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: white;
    cursor: pointer;
    text-decoration: none;
}